{% extends "layout.html.twig" %}

{% set active='restaurant' %}

{% block page_title %}
   Liste restaurants
{% endblock %}

{% block content %}
  <section class="container">
      <h1 class="text-center">"xx" Restaurants livrent à "nom de la ville"</h1>
      <hr>

      <form class=" input-group container ">
          <input class="form-control mr-sm-2" type="search" placeholder="Trouver un resto..." aria-label="Search">
          <button class="input-group-append btn btn-outline-success my-2 my-sm-0" type="submit"><i class="fas fa-search"></i></button>
      </form>
      <div class="container">

          {% for restaurant in restaurants %}
          <div class="product">
              <div class="img-container">
                  <img src="{{ asset('images/product/'~restaurant.photo) }}">
              </div>
              <div class="product-info bordure_verticale">
                  <div class="product-content">
                      {#si restaurant d'or rajouter la couronne#}
                      <h1>{{restaurant.nom}}<i class=" text-warning fas fa-crown"></i></h1>
                      <p>{{restaurant.type.nom}}</p>

                      <address class="h6 ml-5">
                          <small>
                              {{restaurant.adresse}}<br>
                              {{restaurant.codePostal}} {{restaurant.ville}} <br>
                              {{restaurant.telephone}}
                          </small>
                      </address>

                      <div class="buttons">
                          {#Rajouter une condition Si le restaurant est fermé, remplacer le
                         bouton par un bouton "je pré-commande"#}
                          <a class="button btn-success" href="#">Voir le menu</a>

                          {#Rajouter une condition Si le restaurant est fermé, remplacer le
                         par "fermé - ouvre à ..:.." et le point devient rouge#}
                          <span  class="ml-5"><i class="fas fa-circle text-success"></i>Ouverture {{restaurant.horaires}}</span>
                      </div>
                  </div>
              </div>
              <div class="text-warning my-auto mr-3">
                  <ul>
                      <li class="list-unstyled "><i class="fas fa-clock"></i>{{restaurant.horaires}}</li>
                      <li class="list-unstyled mt-3"><i class="far fa-money-bill-alt"></i>Comm. min. {{restaurant.commandeMin}} €</li>
                      <li class="list-unstyled mt-3"><i class="fas fa-motorcycle"></i>
                          {% if restaurant.prixLivraison == 0 %}
                            Livraison Gratuite
                          {% else %}
                              Livraison {{ restaurant.prixLivraison }} €
                          {% endif %}
                      </li>
                  </ul>
              </div>
          </div>
          {% endfor %}

      </div>
  </section>

{% endblock %}
