{% extends "layout.html.twig" %}
{% set active='menu' %}
{% block page_title %}
    Menu {{restaurant.nom}}
{% endblock %}

{% block content %}
    <section class="container">
        <div class="row liste-restaurants py-2">
            <div class=" col-xs-12 col-md-4 ">
                <img src="{{ asset('images/product/'~restaurant.photo) }}" alt="..."
                     class="img-thumbnail img-fluid">
            </div>
            <div class="col-xs-12 col-md-5  my-auto ">
                <div class="row ">
                    <div class="ml-3 ml-md-0 col-xs-12 d-flex justify-content-between d-md-block">
                        {#si restaurant d'or rajouter la couronne#}
                        <h3 >{{restaurant.nom}}<i class="text-warning fas fa-crown"></i>
                            {% if is_granted('ROLE_ADMIN') %}
                                <a href="{{ path('carte_restaurant', {
                                    'restaurant': restaurant.id
                                }) }}"><br>
                                    <small class="h6">Compléter la carte</small></a>
                            {% endif %}
                        </h3>

                        <p class="ml-2 mt-md-0">
                                <span class="badge badge-warning text-white">
                                    {{ restaurant.type.nom }}
                                </span>
                        </p>
                    </div>
                    <div class="col-xs-12 col-md-12 d-flex justify-content-between d-md-block">
                        <address >
                            {{ restaurant.adresse }}
                            {{ restaurant.codePostal }} {{ restaurant.ville }}
                        </address>
                    </div>
                    <div class="col-xs-12 col-sm-12 d-flex justify-content-between d-md-block ">
                        {#Rajouter une condition Si le restaurant est fermé, remplacer le#}
                        {#par "fermé - ouvre à ..:.." et le point devient rouge#}
                        <span class=" mt-1 open-close">
                                    <i class="fas fa-circle text-success"></i>
                                    Ouverture {{ restaurant.horaires }}
                                </span>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-md-3 text-warning my-auto bordure_verticale_liste">
                <ul class="mt-4  d-flex justify-content-between d-md-block">
                    <li class="list-unstyled mr-2 "><i class="fas fa-clock"></i> 45 à 60 min</li>
                    <li class="list-unstyled mr-2 mt-md-3"><i class="far fa-money-bill-alt"></i> Comm.
                        min. {{ restaurant.commandeMin }} €
                    </li>
                    <li class="list-unstyled mt-md-3"><i class="fas fa-motorcycle"></i>
                        {% if restaurant.prixLivraison == 0 %}
                            Livraison Gratuite
                        {% else %}
                            Livraison {{ restaurant.prixLivraison }} €
                        {% endif %}
                    </li>
                </ul>

            </div>
        </div>
        <hr>
    </section>

    <section class="container mb-3">
        <div id="wrapper" class="mb-3 dropdown">
            <!-- Page Content -->
                    <div class="row">
                        <div class="col-12">
                            <h1 class="">Menu</h1>
                            <div id="accordion" role="tablist">
                                <div class="card">
                                    <div class="card-header" role="tab" id="headingOne">
                                        <h5 class="mb-0">
                                            <a data-toggle="collapse" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                                Entrées
                                            </a>
                                        </h5>
                                    </div>
                                    <div id="collapseOne" class="collapse show" role="tabpanel" aria-labelledby="headingOne" data-parent="#accordion">
                                        <div class="card-body">
                                            {% for entree in restaurant.entrees %}
                                                {% if entree.photo is not empty %}
                                                    <div class="row">
                                                        <div class="col-3">
                                                            <img src="{{ asset('images/product/'~entree.photo) }}" class="img-thumbnail">
                                                        </div>
                                                        <div class="col-5">
                                                            <p >{{ entree.nom }}</p>
                                                            <small>{{ entree.description }}</small>
                                                        </div>
                                                        <div class="col-2 float-right">
                                                            <p class="font-weight-bold">{{ entree.prix|round(1,'floor') }} €</p>
                                                        </div>
                                                        <div class="col-2">
                                                            <button type="button" data-name="{{ entree.nom }}" data-price="{{ entree.prix }}" class="btn btn-outline-success add-to-cart float-right"><i class=" fas fa-plus"></i> </button>
                                                        </div>
                                                    </div><hr>
                                                {% else %}
                                                    <div class="row">
                                                        <div class="col-8">
                                                            <p >{{ entree.nom }}</p>
                                                            <small>{{ entree.description }}</small>
                                                        </div>
                                                        <div class="col-2 float-right">
                                                            <p class="font-weight-bold">{{ entree.prix|round(1,'floor') }} €</p>
                                                        </div>
                                                        <div class="col-2">
                                                            <button type="button" data-name="{{ entree.nom }}" data-price="{{ entree.prix }}" class="btn btn-outline-success add-to-cart float-right"><i class=" fas fa-plus"></i> </button>
                                                        </div>
                                                    </div><hr>
                                                {% endif %}
                                            {% endfor %}
                                            {#<button type="button" class="btn btn-outline-success btn-lg btn-block"><i class="float-left mt-1 fas fa-plus"></i> Ajouter au pannier</button>#}
                                        </div>
                                    </div>
                                </div>
                                <div class="card">
                                    <div class="card-header" role="tab" id="headingTwo">
                                        <h5 class="mb-0">
                                            <a class="collapsed" data-toggle="collapse" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                                Menus
                                            </a>
                                        </h5>
                                    </div>
                                    <div id="collapseTwo" class="collapse" role="tabpanel" aria-labelledby="headingTwo" data-parent="#accordion">
                                        <div class="card-body">
                                            {% for menu in restaurant.menus %}
                                                {% if menu.photo is not empty %}
                                                    <div class="row">
                                                        <div class="col-3">
                                                            <img src="{{ asset('images/product/'~menu.photo) }}" class="img-thumbnail">
                                                        </div>
                                                        <div class="col-5">
                                                            <p >{{ menu.nom }}</p>
                                                            <small>{{ menu.description }}</small>
                                                        </div>
                                                        <div class="col-2 float-right">
                                                            <p class="font-weight-bold">{{ menu.prix|round(1,'floor') }} €</p>
                                                        </div>
                                                        <div class="col-2">
                                                            <button type="button" data-name="{{ menu.nom }}" data-price="{{ menu.prix }}" class="btn btn-outline-success add-to-cart float-right"><i class=" fas fa-plus"></i> </button>
                                                        </div>
                                                    </div><hr>
                                                {% else %}
                                                    <div class="row">
                                                        <div class="col-8">
                                                            <p >{{ menu.nom }}</p>
                                                            <small>{{ menu.description }}</small>
                                                        </div>
                                                        <div class="col-2 float-right">
                                                            <p class="font-weight-bold">{{ menu.prix|round(1,'floor') }} €</p>
                                                        </div>
                                                        <div class="col-2">
                                                            <button type="button" data-name="{{ menu.nom }}" data-price="{{ menu.prix }}" class="btn btn-outline-success add-to-cart float-right"><i class=" fas fa-plus"></i> </button>
                                                        </div>
                                                    </div><hr>
                                                {% endif %}
                                            {% endfor %}
                                        </div>
                                    </div>
                                </div>
                                <div class="card">
                                    <div class="card-header" role="tab" id="headingThree">
                                        <h5 class="mb-0">
                                            <a class="collapsed" data-toggle="collapse" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                                Dessert
                                            </a>
                                        </h5>
                                    </div>
                                    <div id="collapseThree" class="collapse" role="tabpanel" data-target="#headingThree" data-parent="#accordion">
                                        <div class="card-body">
                                            {% for dessert in restaurant.desserts %}
                                                {% if dessert.photo is not empty %}
                                                    <div class="row">
                                                        <div class="col-3">
                                                            <img src="{{ asset('images/product/'~dessert.photo) }}" class="img-thumbnail">
                                                        </div>
                                                        <div class="col-5">
                                                            <p >{{ dessert.nom }}</p>
                                                            <small>{{ dessert.description }}</small>
                                                        </div>
                                                        <div class="col-2 float-right">
                                                            <p class="font-weight-bold">{{ dessert.prix|round(1,'floor') }} €</p>
                                                        </div>
                                                        <div class="col-2">
                                                            <button type="button" data-name="{{ dessert.nom }}" data-price="{{ dessert.prix }}" class="btn btn-outline-success add-to-cart float-right"><i class=" fas fa-plus"></i> </button>
                                                        </div>
                                                    </div><hr>
                                                {% else %}
                                                    <div class="row">
                                                        <div class="col-8">
                                                            <p >{{ dessert.nom }}</p>
                                                            <small>{{ dessert.description }}</small>
                                                        </div>
                                                        <div class="col-2 float-right">
                                                            <p class="font-weight-bold">{{ dessert.prix|round(1,'floor') }} €</p>
                                                        </div>
                                                        <div class="col-2">
                                                            <button type="button" data-name="{{ dessert.nom }}" data-price="{{ dessert.prix }}" class="btn btn-outline-success add-to-cart float-right"><i class=" fas fa-plus"></i> </button>
                                                        </div>
                                                    </div><hr>
                                                {% endif %}
                                            {% endfor %}
                                        </div>
                                    </div>
                                </div>
                                <div class="card">
                                    <div class="card-header" role="tab" id="headingFour">
                                        <h5 class="mb-0">
                                            <a class="collapsed" data-toggle="collapse" href="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                                                Boissons
                                            </a>
                                        </h5>
                                    </div>
                                    <div id="collapseFour" class="collapse" role="tabpanel" aria-labelledby="headingFour" data-parent="#accordion">
                                        <div class="card-body">
                                            {% for boisson in restaurant.boissons %}
                                                {% if boisson.photo is not empty %}
                                                    <div class="row">
                                                        <div class="col-3">
                                                            <img src="{{ asset('images/product/'~boisson.photo) }}" class="img-thumbnail">
                                                        </div>
                                                        <div class="col-5">
                                                            <p >{{ boisson.nom }}</p>
                                                            <small>{{ boisson.description }}</small>
                                                        </div>
                                                        <div class="col-2 float-right">
                                                            <p class="font-weight-bold">{{ boisson.prix|round(1,'floor') }} €</p>
                                                        </div>
                                                        <div class="col-2">
                                                            <button type="button" data-name="{{ boisson.nom }}" data-price="{{ boisson.prix }}" class="btn btn-outline-success add-to-cart float-right"><i class=" fas fa-plus"></i> </button>
                                                        </div>
                                                    </div><hr>
                                                {% else %}
                                                    <div class="row">
                                                        <div class="col-8">
                                                            <p >{{ boisson.nom }}</p>
                                                            <small>{{ boisson.description }}</small>
                                                        </div>
                                                        <div class="col-2 float-right">
                                                            <p class="font-weight-bold">{{ boisson.prix|round(1,'floor') }} €</p>
                                                        </div>
                                                        <div class="col-2">
                                                            <button type="button" data-name="{{ boisson.nom }}" data-price="{{ boisson.prix }}" class="btn btn-outline-success add-to-cart float-right"><i class=" fas fa-plus"></i> </button>
                                                        </div>
                                                    </div><hr>
                                                {% endif %}
                                            {% endfor %}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
            <!-- /#page-content-wrapper -->
        </div>
    </section>
{% endblock %}

{% block final_javascripts %}
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
    <script
            src="http://code.jquery.com/jquery-3.3.1.js"
            integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
            crossorigin="anonymous"></script>
{% endblock %}
