{% extends "layout.html.twig" %}
{% set active='menu' %}
{% block page_title %}
    menu restaurants
{% endblock %}

{% block content %}
    {% for restaurant in restaurants %}
    <section class="container">
        <div class="row">
            <div class="col-3">
                <img src="{{ asset('images/product/'~restaurant.photo) }}" alt="..." class="img-thumbnail">
            </div>
            <div class="col-4">

                {#si restaurant d'or rajouter la couronne#}
                <h1>{{restaurant.nom}}<i class="text-warning fas fa-crown"></i></h1>
                {#Rajouter une condition Si le restaurant est fermé, remplacer le
                par "fermé - ouvre à ..:.." et le point devient rouge#}
                <p><i class="fas fa-circle text-success"></i>Ouverture {{restaurant.horaires}}</p>


                <p>Type: {{restaurant.type.nom}}</p>
            </div>
            <div class="col-5">
                <ul class="mt-5">
                    <li class="list-unstyled "><i class="fas fa-clock"></i>45 à 60 min</li>
                    <li class="list-unstyled mt-3"><i class="far fa-money-bill-alt"></i>Comm. min. {{restaurant.commandeMin}} €</li>
                    <li class="list-unstyled mt-3"><i class="fas fa-motorcycle"></i>
                        {% if restaurant.prixLivraison == 0 %}
                            Livraison Gratuite
                        {% else %}
                            Livraison {{ restaurant.prixLivraison }} €
                        {% endif %}
                    </li>
                </ul>

            </div>
        </div> <hr>
    </section>

    <section class="container mb-3">
        <div id="wrapper" class="mb-3 dropdown">
            <!-- Page Content -->
                    <div class="row">
                        <div class="col-12">
                            <h1 class="">Menu</h1>
                            <div id="accordion" role="tablist">
                                <div class="card">
                                    <div class="card-header" role="tab" id="headingOne">
                                        <h5 class="mb-0">
                                            <a data-toggle="collapse" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                                Entrées
                                            </a>
                                        </h5>
                                    </div>
                                    <div id="collapseOne" class="collapse show" role="tabpanel" aria-labelledby="headingOne" data-parent="#accordion">
                                        <div class="card-body">
                                            <div class="row card-block d-none" >
                                                {#cette div est caché car le premier élément à rajouté au panier bug#}
                                                <div class="col-12" >
                                                    <h4 class="card-title" >Soupe Miso</h4>
                                                    <p class="card-text ">2.00 €</p>
                                                    <a href="#" data-name="Soupe miso"  data-price="2.00" class="add-to-cart btn btn-outline-success float-right"><i class=" fas fa-plus"></i></a>
                                                </div>

                                            </div><hr>
                                            <div class="row card-block" >
                                                <div class="col-8">
                                                    <p >Salade de choux</p>
                                                </div>
                                                <div class="col-2 float-right">
                                                    <p class="font-weight-bold">2.50 €</p>
                                                </div>
                                                <div class="col-2">
                                                    {#changer le contenu de data-name et data-price par le contenu de la bdd#}
                                                    <button type="button" data-name="Salade_de_choux" data-price="2.50" class="btn btn-outline-success add-to-cart float-right"><i class=" fas fa-plus"></i> </button>
                                                </div>
                                            </div><hr>
                                            <div class="row">
                                                <div class="col-8">
                                                    <p >Tartare saumon Avocat</p>
                                                </div>
                                                <div class="col-2 float-right">
                                                    <p class="font-weight-bold">6,00 €</p>
                                                </div>
                                                <div class="col-2">
                                                    <button type="button" data-name="Tartare_Saumon_Avocat" data-price="6.00" class="btn btn-outline-success add-to-cart float-right"><i class=" fas fa-plus"></i> </button>
                                                </div>
                                            </div><hr>
                                            <div class="row">
                                                <div class="col-8">
                                                    <p >Tempura crevette x6</p>
                                                </div>
                                                <div class="col-2 float-right">
                                                    <p class="font-weight-bold">6,80 €</p>
                                                </div>
                                                <div class="col-2">
                                                    <button type="button" data-name="Tempura_Crevette_x6" data-price="6.80" class="btn btn-outline-success add-to-cart float-right"><i class=" fas fa-plus"></i> </button>
                                                </div>
                                            </div><hr>
                                            {#<button type="button" class="btn btn-outline-success btn-lg btn-block"><i class="float-left mt-1 fas fa-plus"></i> Ajouter au pannier</button>#}
                                        </div>
                                    </div>
                                </div>
                                <div class="card">
                                    <div class="card-header" role="tab" id="headingTwo">
                                        <h5 class="mb-0">
                                            <a class="collapsed" data-toggle="collapse" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                                Menus
                                            </a>
                                        </h5>
                                    </div>
                                    <div id="collapseTwo" class="collapse" role="tabpanel" aria-labelledby="headingTwo" data-parent="#accordion">
                                        <div class="card-body">
                                            <div class="row">
                                                <div class="col-8">
                                                    <p >Menu Sushi </p>
                                                    <small>8 sushi (4 saumon, 4 thon), 1 soupe, 1 salade</small>

                                                    <div class="mt-2">
                                                        <select class="custom-select" id="inputGroupSelect01">
                                                            <option selected>Boisson...</option>
                                                            <option value="1">Coca-cola</option>
                                                            <option value="2">Fanta</option>
                                                            <option value="3">Tropico</option>
                                                        </select>
                                                    </div>
                                                </div>
                                                <div class="col-2 float-right">
                                                    <p class="font-weight-bold">12,00 €</p>
                                                </div>
                                                <div class="col-2">

                                                    <button type="button" class="btn btn-outline-success float-right"><i class=" fas fa-plus"></i> </button>
                                                </div>
                                            </div><hr>
                                            <div class="row">
                                                <div class="col-8">
                                                    <p >Menu Mixte </p>
                                                    <small>4 nems au poulet, 5 brochettes ou 3 brochettes</small>

                                                    <div class="mt-2">
                                                        <select class="custom-select" id="inputGroupSelect01">
                                                            <option selected>Boisson...</option>
                                                            <option value="1">Coca-cola</option>
                                                            <option value="2">Fanta</option>
                                                            <option value="3">Tropico</option>
                                                        </select>
                                                    </div>
                                                </div>
                                                <div class="col-2 float-right">
                                                    <p class="font-weight-bold">13,50 €</p>
                                                </div>
                                                <div class="col-2">

                                                    <button type="button" class="btn btn-outline-success float-right"><i class=" fas fa-plus"></i> </button>
                                                </div>
                                            </div><hr>
                                            <div class="row">
                                                <div class="col-8">
                                                    <p >Menu Brochettes </p>
                                                    <small>4 brochettes ( 2 saumon, 2 thon), 1 soupe, 1 salade, 1 riz</small>

                                                    <div class="mt-2">
                                                        <select class="custom-select" id="inputGroupSelect01">
                                                            <option selected>Boisson...</option>
                                                            <option value="1">Coca-cola</option>
                                                            <option value="2">Fanta</option>
                                                            <option value="3">Tropico</option>
                                                        </select>
                                                    </div>
                                                </div>
                                                <div class="col-2 float-right">
                                                    <p class="font-weight-bold">12,00 €</p>
                                                </div>
                                                <div class="col-2">

                                                    <button type="button" class="btn btn-outline-success float-right"><i class=" fas fa-plus"></i> </button>
                                                </div>
                                            </div><hr>

                                        </div>
                                    </div>
                                </div>
                                <div class="card">
                                    <div class="card-header" role="tab" id="headingThree">
                                        <h5 class="mb-0">
                                            <a class="collapsed" data-toggle="collapse" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                                Dessert
                                            </a>
                                        </h5>
                                    </div>
                                    <div id="collapseThree" class="collapse" role="tabpanel" data-target="#headingThree" data-parent="#accordion">
                                        <div class="card-body">
                                            <div class="row">
                                                <div class="col-8">
                                                    <p >Magnum Batonnet Amande 120ml </p>
                                                </div>
                                                <div class="col-2 float-right">
                                                    <p class="font-weight-bold">3.50 €</p>
                                                </div>
                                                <div class="col-2">

                                                    <button type="button" class="btn btn-outline-success float-right"><i class=" fas fa-plus"></i> </button>
                                                </div>
                                            </div><hr>
                                            <div class="row">
                                                <div class="col-8">
                                                    <p >Tiramisu Caramel</p>
                                                </div>
                                                <div class="col-2 float-right">
                                                    <p class="font-weight-bold">2.50 €</p>
                                                </div>
                                                <div class="col-2">

                                                    <button type="button" class="btn btn-outline-success float-right"><i class=" fas fa-plus"></i> </button>
                                                </div>
                                            </div><hr>

                                        </div>
                                    </div>
                                </div>
                                <div class="card">
                                    <div class="card-header" role="tab" id="headingFour">
                                        <h5 class="mb-0">
                                            <a class="collapsed" data-toggle="collapse" href="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                                                Boissons
                                            </a>
                                        </h5>
                                    </div>
                                    <div id="collapseFour" class="collapse" role="tabpanel" aria-labelledby="headingFour" data-parent="#accordion">
                                        <div class="card-body">
                                            <div class="row">
                                                <div class="col-8">
                                                    <p >Coca-Cola</p>
                                                    <small>33 cl</small>
                                                </div>
                                                <div class="col-2 float-right">
                                                    <p class="font-weight-bold">1.50 €</p>
                                                </div>
                                                <div class="col-2">

                                                    <button type="button" class="btn btn-outline-success float-right"><i class=" fas fa-plus"></i> </button>
                                                </div>
                                            </div><hr>

                                            <div class="row">
                                                <div class="col-8">
                                                    <p >Fanta</p>
                                                </div>
                                                <div class="col-2 float-right">
                                                    <p class="font-weight-bold">1.50 €</p>
                                                </div>
                                                <div class="col-2">

                                                    <button type="button" class="btn btn-outline-success float-right"><i class=" fas fa-plus"></i> </button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
            <!-- /#page-content-wrapper -->
        </div>
    </section>
    {% endfor %}

{% endblock %}

{% block final_javascripts %}
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
    <script
            src="http://code.jquery.com/jquery-3.3.1.js"
            integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
            crossorigin="anonymous"></script>
{% endblock %}
