<!-- Footer -->
<footer class="footer container-fluid mt-5 pt-2 bg-success text-white text-center">
    <div class="container">
        <div class="row">
            <div class="col-md-3 mb-5 mb-lg-0">
                <h4 class=" text-uppercase text-white mb-4">Nous Contacter</h4>
                <address class="text-white">
                    <strong>Fais Pas La Queue</strong><br>
                    2 Rue Eugène Pottier<br>
                    78190 TRAPPES<br>
                    <a class="text-decoration-none text-white" href="tel:+33143434343"><i class="fas fa-phone"></i> 01.43.43.43.43</a> <br>
                    <a class="text-decoration-none text-white" href="mailto:faispas@laqueue.com"><i class="far fa-envelope"></i> faispas@laqueue.com </a>
                </address>
            </div>
            <div class="col-md-3 mb-5 mb-lg-0">
            <h4 class="text-uppercase mb-4">Devenir restaurant<br> partenaire</h4>
                <button type="button" class="btn btn-warning btn-block border-dark" data-toggle="modal" data-target="#exampleModalLong">
                    Cliquez ici <i class="fas fa-angle-double-right mt-1 float-right"></i>
                </button>
            </div>
            <div class="col-md-3 mb-5 mb-lg-0">
                <h4 class="text-uppercase mb-social">Réseaux Sociaux</h4>
                <ul class="list-inline mb-0">
                    <li class="list-inline-item">
                        <a class="btn btn-social text-center" href="https://www.facebook.com/Fais-Pas-La-Queue-1910787445686881">
                            <img src="{{ asset('images/footer/facebook.svg') }}"  alt="logo facebook" width="50">
                        </a>
                    </li>
                    <li class="list-inline-item">
                        <a class="btn btn-social text-center" href="https://twitter.com/PasQueue">
                            <img src="{{ asset('images/footer/twitter.svg') }}"  alt="logo twitter" width="50">
                        </a>
                    </li>


                </ul>
            </div>
            <div class="col-md-3">
                <h4 class="text-uppercase mb-4">Téléchargez notre APP</h4>
                <a href="">
                    <img src="{{ asset('images/footer/appstore.svg') }}"  alt="logo apple store" width="170">
                </a> <br>
                <a href="">
                    <img class="mt-1" src="{{ asset('images/footer/googleplay.svg') }}"  alt="logo apple store" width="170">
                </a>
            </div>
        </div>
    </div>
    <div class="modal fade text-dark"  id="exampleModalLong" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title text-success" id="exampleModalLongTitle">Formulaire de contact</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    {{ form(form, {attr:{novalidate: 'novalidate' }}) }}
                </div>
            </div>
        </div>
    </div>
</footer>