
<nav class="navbar navbar-expand-lg navbar-success bg-success text-white">
    <div class="container">

    <a class="navbar-brand text-white" href="{{ path('index') }}">Fais Pas La Queue</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse " id="navbarSupportedContent">
        <ul class="navbar-nav ml-auto ">
            <li>
            {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                <a class="nav-link h6" href="{{ path('security_deconnexion') }}">Déconnexion</a>
            </li>
            <li  class="nav-item {% if active == 'listerestaurant' %}active{% endif %}">
                <a class="nav-link h6"  href="{{ path('index_restaurant') }}">
                    <i class="fas fa-sign-in-alt"></i>Liste Restaurants</a>
            </li>

            {% else %}
            <li class="nav-item {% if active == 'connexion' %}active{% endif %}">
                <a class="nav-link h6" href="{{ path('security_connexion') }}"><i class="fas fa-sign-in-alt"></i> Connexion </a>
            </li>
            <li  class="nav-item {% if active == 'inscription' %}active{% endif %}">
                <a class="nav-link h6"  href="{{ path('membre_inscription') }}">
                    <i class="far fa-edit"></i>Inscription</a>
            </li>
            {% endif %}
            <li  class="nav-item  {% if active == 'admin/inscription_restaurant' %}active{% endif %}">
            {% if is_granted('ROLE_ADMIN') %}
                <a class="nav-link h6"  href="{{ path('restaurant_inscription') }}">
                    <i class="far fa-edit"></i>Inscription restaurant</a>
            </li>
            {% endif %}
            <li class="nav-item  {% if active == 'faq' %}active{% endif %}">
                <a class="nav-link h6" href="#">FAQ</a>
            </li>
            <li class="nav-item minicart ">
                <a class="nav-link  text-white h6" href="#">
                    {#le pannier affiche le prix en temps réel#}
                    <span class="badge badge-light" data-toggle="modal" data-target="#cart"><span class="total-cart"></span> € <i class="fas fa-shopping-basket"></i></span>
                </a>
            </li>
        </ul>
    </div>
    </div>
</nav>
{#<div>#}
    {#{{ dump(app.user) }}#}
{#</div>#}
<!-- Modal -->
<div class="modal fade" id="cart" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header bg-success">
                <h5 class="modal-title text-white" id="exampleModalLabel">Panier</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true" class="text-white">×</span>
                </button>
            </div>
            <div class="modal-body">
                <table class="show-cart table">

                </table>
                <div class="font-weight-bold ">Valeur de votre Panier:
                    <h1 class="">
                        <a href="" class="badge badge-success">
                            <span class="total-cart"> </span>
                            €
                        </a>
                    </h1>
                </div>
            </div>
            <div class="modal-footer p-0 pr-1">
                <button type="button" class=" py-2 btn btn-secondary" data-dismiss="modal">Close</button>
                <button class="py-2 clear-cart btn btn-warning">Vider le Panier</button>
                <script src="https://www.paypalobjects.com/api/checkout.js"></script>
                <div class="mt-4" id="paypal"></div>
            </div>
        </div>
    </div>
</div>
